body {
    font-family: 'Outfit', sans-serif;
}

.container--block {
    display: flex;
}

.logo {
    width: 70%;
    margin: 2rem 0;
    border: solid 4px white;
    border-radius: 50%
}

.title--app {
    font-size: 5em;
    font-weight: bold;
    color: rgb(255, 145, 0);
    margin: 2rem;
}

.container--nav {
    min-height: 97vh;
    background-color: black;
    /* width: 10%; */
    width: 200px;
    color: white;
    text-align: center;
}

.nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: solid 1px grey;
    padding-bottom: 1rem;
    margin: 0 0.8rem 0 
}

.bottom {
    margin-bottom: 2rem;
}

.nav--add--btn {
    background-color: black;  border: none;
    margin: 3rem 0 0.5rem 0;
    cursor: pointer;
}

.nav--btn {
    margin: 3rem 0 0.5rem 0;
    padding: 1rem 1.3rem;
    cursor: pointer;
    border-radius: 50%;
    font-weight: bold;
    font-size: 1.3em;
}

.nav--btn:hover {
    border: solid 4px white;
    border-radius: 50%
}

.nav--btn--text {
    text-align: center;
}

.add--play--btn {
    width: 50%;
}

.add--play--btn:hover {
    border: solid 4px white;
    border-radius: 50%
}

.complete {
    background-color: rgb(0, 207, 0);
    color: black;
}

.incomplete {
    background-color: rgb(233, 13, 13);
    color: black;
}

.container--lists {
    width: 90%;
    padding: 2rem 2rem 0 2rem;
    display: flex;
    flex-direction: column;
    align-items: center
}

.lists {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    width: 100%;
}

/* this is the template */
.container--play {
    margin-left: 2rem;
    width: 80%;
}

.container--all {
    display: flex;
    align-items: flex-start
}

.container--play--teams {
    display: flex;
    background: linear-gradient(0.25turn, rgb(131, 117, 255), #ebf8e1, rgb(131, 117, 255));
    color: white;
    margin: 1rem 2rem 1rem 1rem;
    padding: 1rem;
    justify-content: space-evenly;
    border-radius: 50px;
    font-weight: bold;
    width: 65%;
}

.time {
    margin-left: 2rem;
    font-size: 1.3em;
}

.team_A {
    margin: 1rem;
    font-size: 1.6em;
}

.team_B {
    margin: 1rem;
    font-size: 1.6em;
}

.score {
    color: black;
    font-size: 2em;
    align-self: center;
}

.vs {
    font-size: 2em;
    background-color: black;
    padding: 1rem;
    border-radius: 50%;
}

.validate--btn {
    width: 10%;
    background-color: white;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.remove--btn {
    width: 10%;
    background-color: white;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
}

.active {
    display: hidden;
}

.none {
    display: none;
}

.footer {
    width: 100%;
    text-align: center;
    background-color: black;
    color: white;
    padding: 1rem 0;
}